root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.fs]
indent_style = space
indent_size = 4
max_line_length = 100
fsharp_max_if_then_else_short_width = 70
fsharp_max_infix_operator_expression = 70
fsharp_max_dot_get_expression_width = 70
fsharp_max_record_width = 40
fsharp_max_array_or_list_width = 60
fsharp_max_array_or_list_number_of_items = 4
fsharp_single_argument_web_mode = true
