source https://api.nuget.org/v3/index.json
framework: net5.0
storage: none

nuget Elmish.SweetAlert
nuget Fable.Remoting.Giraffe
nuget LiteDB.FSharp
nuget Saturn
nuget Expecto

nuget Fable.Core
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Mocha
nuget Fable.React
nuget Fable.Remoting.Client
nuget Feliz
nuget Feliz.Bulma

nuget Fake.Core.Target
nuget Farmer